* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

.app-bg-contiainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    to bottom right,
    #000b18,
    #00172d,
    #00264d,
    #00498d
  );
}

.user-input {
  padding: 20px;
  width: 50%;
  border-style: none;
  border-radius: 30px;
  border-bottom: solid 5px #d6225e;
  font-size: large;
}

.input-container {
  width: 80%;
  text-align: center;
}

.weather-report {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.place {
  color: aliceblue;
  font-size: 30px;
  font-weight: 600;
  font-family: sans-serif;
}

.date {
  color: aliceblue;
  font-size: 15px;
  font-family: verdana;
}

.temperature {
  color: aliceblue;
  font-family: Arial;
  font-weight: 900;
  font-size: 80px;
  margin: 0px;
  text-shadow: 5px 5px 0 #d6225e;
}

.sky-condition {
  color: #00b1d9;
  font-style: italic;
  text-transform: capitalize;
  font-family: Georgia;
  font-size: 30px;
}

.minmax-temp {
  color: #ffffff;
  font-family: Calibri;
  font-size: 25px;
}

.heading {
  font-size: 60px;
  font-weight: 600;
  font-family: Verdana;
  color: #e62854;
}
