* {
  box-sizing: border-box;
}

body {
  background: #000;
  color: #fff;
  font-family: Arial, sans-serif;
  text-align: center;
}

.glow {
  color: #0ff;
  text-shadow: 0 0 10px #0ff, 0 0 20px #0ff;
  margin-top: 20px;
}

.container {
  display: flex;
  justify-content: center;
  gap: 100px;
  margin-top: 30px;
  flex-wrap: wrap;
}

.form {
  background: #111;
  padding: 24px;
  width: 35%;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.form h2 {
  margin-bottom: 10px;
}

.form input,
.form textarea,
.form select {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #333;
  background: #e3e0e0;
  color: #000000;
}

.inline {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}

label {
  font-size: 18px;
  margin-bottom: 4px;
  display: block;
  text-align: left;
}

.inline label {
  display: flex;
  align-items: left;
  gap: 6px;
  background: #1a1a1a;
  padding: 6px 12px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
}

.buttons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.buttons button {
  flex: 1;
  padding: 10px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.buttons button:first-child {
  background: #0ff;
  color: #000;
}

.buttons button:last-child {
  background: #333;
  color: #fff;
}

.card {
  display: none;
  background: rgba(255, 255, 255, 0.12);
  padding: 60px 20px 20px;
  width: 35%;
  border-radius: 15px;
  position: relative;
  text-align: left;
  margin-top: 30px;
}

.card p {
  margin: 8px 0;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 400;
  margin: 20px;
}

.avatar {
  position: absolute;
  top: -45px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: white;
  padding: 3px;
}

.avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
