.box {
  height: 200px;
  width: 150px;
  background-color: aqua;
  border-radius: 30px;
  margin-left: 100px;
  margin-top: 50px;
  transition-property: background-color, transform;
  transition-duration: 5s;
}

.box:hover {
  background-color: blueviolet;
  transform: rotate(180deg);
}
